In [14]:
import pymysql
import pandas as pd

In [15]:
db_host = 'localhost'
db_user = 'root'
db_password = '1234'
db_port = 3306

db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port)
cursor = db.cursor()

sql = "Create database if not exists Food_Allergy_DB;"

cursor.execute(sql)

db.commit()

db.close()

### 회사 테이블 생성

In [3]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

company_table = "Create table if not exists Company(company_id int not null auto_increment primary key, company_name varchar(20) not null, company_phone1 varchar(3), company_phone2 varchar(8));"
company_increment_alter = "alter table Company auto_increment = 10001;"
cursor = db.cursor()

cursor.execute(company_table)
cursor.execute(company_increment_alter)
db.commit()
db.close()

print("PK : company_id")

PK : company_id

### 식품 테이블 생성

In [4]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Food_table = "Create table if not exists Food(food_id int not null auto_increment primary key, company_id int not null, food_name varchar(50) not null, food_url varchar(100), foreign key(company_id) references Company(company_id) on delete cascade);"
food_increment_alter = "alter table Food auto_increment = 100001;"
cursor = db.cursor()

cursor.execute(Food_table)
cursor.execute(food_increment_alter)
db.commit()
db.close()

print("PK  : food_id")
print("FK : company_id -> Company(company_id)")

PK  : food_id
FK : company_id -> Company(company_id)

### 알러지 테이블 생성

In [5]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Allergy_table = "Create table if not exists Allergy(allergy_id int not null auto_increment primary key, allergy_name varchar(30) not null);"
cursor = db.cursor()

cursor.execute(Allergy_table)
db.commit()
db.close()

print("PK : allergy_id")

PK : allergy_id

### 식품 알러지 교차 테이블 생성

In [6]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Food_Allergy_table = "Create table if not exists Food_Allergy(food_id int not null, allergy_id int not null, primary key(food_id, allergy_id), foreign key(food_id) references Food(food_id) on delete cascade, foreign key(allergy_id) references Allergy(allergy_id) on delete cascade);"
cursor = db.cursor()

cursor.execute(Food_Allergy_table)
db.commit()
db.close()

print("PK : food_id, allergy_id")
print("FK : food_id -> Food(food_id)")
print("FK : allergy_id -> Allergy(allergy_id)")

PK : food_id, allergy_id
FK : food_id -> Food(food_id)
FK : allergy_id -> Allergy(allergy_id)

### 대체 식품 테이블 생성

In [33]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Alternative_Food_table = "Create table if not exists Alternative_Food(alternative_food_id int not null auto_increment primary key, alternative_food_name varchar(30) not null);"
cursor = db.cursor()

cursor.execute(Alternative_Food_table)
db.commit()
db.close()

print("PK : alternative_food_id")

PK : alternative_food_id

###  알러지 대체 식품 교차 테이블 생성

In [34]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Allergy_Alternative_Food_table = "Create table if not exists Allergy_Alternative_Food(allergy_id int not null, alternative_food_id int not null, primary key(allergy_id, alternative_food_id), foreign key(allergy_id) references Allergy(allergy_id) on delete cascade, foreign key(alternative_food_id) references Alternative_Food(alternative_food_id) on delete cascade);"
cursor = db.cursor()

cursor.execute(Allergy_Alternative_Food_table)
db.commit()
db.close()

print("PK : allergy_id, alternative_food_id")
print("FK : allergy_id -> Allergy(allergy_id)")
print("FK : alternative_food_id -> Alternative_Food(alternative_food_id)")

PK : allergy_id, alternative_food_id
FK : allergy_id -> Allergy(allergy_id)
FK : alternative_food_id -> Alternative_Food(alternative_food_id)

### 교차반응군 테이블 생성

In [35]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Cross_Reaction_table = "Create table if not exists Cross_Reaction(cross_reaction_id int not null auto_increment primary key, cross_reaction_name varchar(20) not null);"
cursor = db.cursor()

cursor.execute(Cross_Reaction_table)
db.commit()
db.close()
print("PK : cross_reaction_id")

PK : cross_reaction_id

### 알러지 교차반응군 교차 테이블 생성

In [36]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Allergy_Cross_Reaction_table = "Create table if not exists Allergy_Cross_Reaction(allergy_id int not null, cross_reaction_id int not null, cross_reactivity_rate int, primary key(allergy_id, cross_reaction_id), foreign key(allergy_id) references Allergy(allergy_id) on delete cascade, foreign key(cross_reaction_id) references Cross_Reaction(cross_reaction_id) on delete cascade);"
cursor = db.cursor()

cursor.execute(Allergy_Cross_Reaction_table)
db.commit()
db.close()
print("PK : allergy_id, cross_reaction_id")
print("FK : allergy_id -> Allergy(allergy_id)")
print("FK : cross_reaction_id -> Cross_Reaction(cross_reaction_id)")

PK : allergy_id, cross_reaction_id
FK : allergy_id -> Allergy(allergy_id)
FK : cross_reaction_id -> Cross_Reaction(cross_reaction_id)

### 알러지 테이블에 알러지 종류 Insert

In [37]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/allergy_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 대체 식품 종류 Insert

In [38]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/Alternative_Food_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 알러지 - 대체식품 교차 테이블 데이터 Insert

In [39]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/Allergy_Alternative_Food_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 교차 반응군 목록 Insert

In [40]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/Cross_Reaction_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 알러지 - 교차 반응군 교차 테이블 데이터 Insert

In [41]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/Allergy_Cross_Reaction_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 회사 목록 Insert

In [42]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

file_path = 'SQL/Company_List.txt'
with open(file_path, 'r', encoding='utf-8') as f:
    for line in f:
        stmt = line.strip()
        if stmt:
            cursor.execute(stmt)

db.commit()
cursor.close()
db.close()

### 오뚜기 제품 정보 Insert

In [ ]:
import pandas as pd
import pymysql

df = pd.read_csv('오뚜기_제품_정보.csv', index_col=0)
data = df[['company', 'product_name', 'url']].values.tolist()

db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

sql = "INSERT INTO Food (company_id, food_name, food_url) VALUES (%s, %s, %s);"

for i, row in enumerate(data, start=1):
    cursor.execute(sql, row)
    if i % 100 == 0:
        print(f"{i}개 Insert 완료")

cursor.close()
db.close()

100개 Insert 완료
200개 Insert 완료
300개 Insert 완료
400개 Insert 완료
500개 Insert 완료
600개 Insert 완료
700개 Insert 완료
800개 Insert 완료
900개 Insert 완료
1000개 Insert 완료
1100개 Insert 완료

In [19]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')
cursor = db.cursor()

# --- 1. 기존 테이블 삭제 (참조하는 테이블부터 순서대로) ---

# User_Allergies 테이블 삭제
drop_user_allergies_sql = "DROP TABLE IF EXISTS User_Allergies;"
cursor.execute(drop_user_allergies_sql)
print("User_Allergies 테이블 삭제 완료")

# Users 테이블 삭제
drop_users_sql = "DROP TABLE IF EXISTS Users;"
cursor.execute(drop_users_sql)
print("Users 테이블 삭제 완료")

User_Allergies 테이블 삭제 완료
Users 테이블 삭제 완료

### User Table 생성

In [20]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

Users_table = "CREATE TABLE Users ( \
    user_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, \
    username VARCHAR(50) NOT NULL UNIQUE, \
    password VARCHAR(72) NOT NULL, \
    role VARCHAR(10) NOT NULL DEFAULT 'user'\
);"

cursor = db.cursor()

cursor.execute(Users_table)
db.commit()
db.close()

print("PK : user_id")

PK : user_id

### 유저 알레르기 테이블 생성

In [21]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

User_Allergies_table = "CREATE TABLE IF NOT EXISTS User_Allergies ( \
    user_id INT NOT NULL, \
    allergy_id INT NOT NULL, \
    PRIMARY KEY (user_id, allergy_id), \
    FOREIGN KEY (user_id) REFERENCES Users(user_id) ON DELETE CASCADE, \
    FOREIGN KEY (allergy_id) REFERENCES Allergy(allergy_id) ON DELETE CASCADE \
);"

cursor = db.cursor()

cursor.execute(User_Allergies_table)
db.commit()
db.close()

print("PK : user_id, allergy_id")
print("FK : user_id -> Users(user_id)")
print("FK : allergy_id -> Allergy(allergy_id)")

PK : user_id, allergy_id
FK : user_id -> Users(user_id)
FK : allergy_id -> Allergy(allergy_id)

### 관리자 계정 설정

In [ ]:
db = pymysql.connect(host = db_host, user = db_user, password = db_password, port = db_port, database = 'Food_Allergy_DB')

User_Allergies_table = "UPDATE Users SET role = 'admin' where username = 'admin';"

cursor = db.cursor()

cursor.execute(User_Allergies_table)
db.commit()
db.close()

print("관리자 계정 설정 성공")

관리자 계정 설정 성공

: